.contact_sec
{
    margin-top: 50px;
}

.contact_cont 
{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_heading h2
{
    font-size: 23px;
    color: white;
    font-family: "Arima", system-ui;
}
.contact_details
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    flex-direction: column;
}
.contact_links
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contact_links a 
{
    font-size: 25px;
}

.linkedin
{
    color: rgb(2, 61, 255);
   
}
.linkedin:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}
.insta
{
    color: rgba(245, 89, 42, 0.842);
}
.facebook:hover 
{
    transform: scale(1.1);
    transition: 0.5s;
}
.insta:hover 
{
    transform: scale(1.1);
    transition: 0.5s;
}
.indeed
{
    color: white;
}
.indeed:hover 
{
    transform: scale(1.1);
    transition: 0.5s;
}
.whtsp
{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: white;
    font-family: "Arima", system-ui;
}


@media (max-width: 750px)
{
    .contact_links a 
{
    font-size: 18px;
}
.whatsapp 
{
    font-size: 18px;
}
.contact_links
{
    font-size: 12px;
}
.contact_links
{
    gap: 15px;
}
}